<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Home</title>

    <!-- link to the css file styling -->
    <link rel="stylesheet" type="text/css" href="external/bootstrap/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="external/signup-login/bootsign.css">
    <link rel="stylesheet" type="text/css" href="external/signup-login/modal.css">

    <link rel="stylesheet" type="text/css" href="external/new/headernew.css">
    <link rel="stylesheet" type="text/css" href="external/new/mainnew.css">
    <link rel="stylesheet" type="text/css" href="external/new/left-sidebarnew.css">

    <link rel="stylesheet" type="text/css" href="external/custom-css/css/footer.css">
    <link rel="stylesheet" type="text/css" href="external/custom-css/css/right-sidebar.css">
    <!--<link rel="stylesheet" type="text/css" href="external/custom-css/css/comment.css">-->

    <!-- fonts used in the website -->
    <link href="https://fonts.googleapis.com/css?family=Fascinate+Inline" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fascinate" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    <!-- fonts awesome used for icons -->
    <link rel="stylesheet" href="external/font-awesome/css/font-awesome.min.css">

    <!-- jquery used  -->
    <script type = "text/javascript" 
         src = "https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
   
    <script type = "text/javascript">
         $(document).ready(function() {
            $("#drop-btn").click(function () {
               $(".nav-items").toggleClass("is-visible");
            });
         });

         $(document).ready(function() {
            $(".tag-btn").click(function () {
                $(".left-sidebar").toggleClass("is-visible-left-sidebar");
              /*  $(".nav-items").toggleClass("is-visible");*/
            });
         });

         $(document).ready(function() {
            $(".nav-items > a").click(function () {
                $(".nav-items").toggleClass("is-visible");
            });
         });

        $(document).ready(function() {
            $(".close-tag").click(function () {
                $(".left-sidebar").toggleClass("is-visible-left-sidebar");
            });
        });

        $(document).ready(function() {
            $(".tags li").click(function () {
                $(".left-sidebar").toggleClass("is-visible-left-sidebar");
            });
        });
    </script>

    <!-- angluar -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/1.1.0/toaster.min.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/2.0.0/toaster.css">

  </head>

  <body ng-app="miniRvce" >

    <!-- top navigation bar -->
    <header>
        <div ng-controller= "AccountController as account" class="navbar-top-fixed">
            <div id="logo">
                <a href="#">RV<span>Que-Ans</span></a>
            </div>
            <div class="nav-items">
                <a ui-sref="addques">Post Question</a>
                <a href="javascript:void(0)" class="hidden-lg hidden-md hidden-sm tag-btn">Tags</a>
                <a ui-sref ="unanswered">Unanswered <!--<span class="unans-no">41</span>--></a>
                <a href="">Popular</a>
                <a ng-if="!loggedIn" ui-sref="account.signup">Sign Up</a>
                <a ng-if="!loggedIn" ui-sref="account.login">Login</a>
                <a ng-if="loggedIn" ng-click="account.logout()" ui-sref-active="ak-active-tab" ui-sref="account.logout">Logout</a>
            </div>
            <div id="drop-btn" class="hidden-lg hidden-md hidden-sm">
                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
            </div>
        </div>
    </header>


    <div class="container-fluid">
        <!-- row STARTS -->   
        <div class="row">

          <!-- 1st column STARTS/TAGS -->
          <div ng-controller = "TagController as tag" class="col-lg-2 col-md-3 col-sm-3 left-sidebar">
            <a href="javascript:void(0)" class="hidden-lg hidden-md hidden-sm visible-xs close-tag"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i></a>
            <h5>SELECT <span>TAGS</span></h5>
              <ul class="tags">
                  <!-- tags generated -->
                  <li><a ng-repeat="each in tag.tagsList" value="{{each.id}}" ui-sref = "listed({tag_id: each.id})"><span>{{each.name}}</span><span class="numb">{{each.assoc}}</span> </a></li>
              </ul>
              <a href="" id="request-tags">Request TAGS</a>
          </div><!-- 1st column ENDS -->



          <!-- 2nd column START/ Main STARTS/dynamic content generated here -->
          <div class="col-lg-7 col-md-6 col-sm-9 col-xs-12 main">

            <!-- dynamic content generated -->
            <ui-view></ui-view>

                <!-- today date as landing page will show the questions asked today -->
<!--                <div class="common-date">13 Sep,2016</div>-->



            <!-- page navigation links -->
<!--
              <nav aria-label="Page navigation">
                <div class="center-navigation">
                  <ul class="pagination">
                    <li>
                      <a href="#" aria-label="Previous" class="previous" disabled="disabled">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                      </a>
                    </li>
                    <li><a href="#" class="current-page">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li>
                      <a href="#" aria-label="Next" class="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                      </a>
                    </li>
                  </ul>
                  </div>
                </nav>
-->

            </div><!-- 2nd column ENDS/MAIN PAGE ENDS-->


            <!-- 3rd column STARTS/RIGHT SIDEBAR -->
            <div class="col-lg-3 col-md-3 hidden-sm hidden-xs right">

                <!-- popular post preferablly 5 posts -->
                <aside id="popular-post" ng-controller = "HomeController as home">
                    <h5>POPULAR Posts</h5>
                    <ul class="right-sidebar">
                        <li ng-repeat = "ques in home.popQues | limitTo : 5 ">
                            <a ui-sref = "question({ques_id: ques.id})">{{ques.content}}</a>
                            <!-- <div><span class="user-name">Sumit</span><span class="time">10 Sep 12:21 AM </span></div> -->
                        </li>
                        <!--<li>
                            <a href="">Are the dates for the external examinations out</a>
                            &lt;!&ndash; <div><span class="user-name">Sumit</span><span class="time">10 Sep 12:21 AM </span></div> &ndash;&gt;
                        </li>
                        <li>
                            <a href="">Is it true that the semester end examination has been postponed</a>
                            &lt;!&ndash; <div><span class="user-name">Sumit</span><span class="time">10 Sep 12:21 AM </span></div> &ndash;&gt;
                        </li>-->
                    </ul>
                </aside>

                <!-- popular news preferablly 5 news -->
                <aside id="recent-news">
                    <h5>RECENT News</h5>
                    <ul class="right-sidebar">
                        <li>
                            <a href="">Tomorrow is holiday due to Bharat Bandh</a>
                            <!-- <div><span class="user-name">Sumit</span><span class="time">10 Sep 12:21 AM </span></div> -->
                        </li>
                        <li>
                            <a href="">Collect examination form from the examination section immediately</a>
                            <!-- <div><span class="user-name">Sumit</span><span class="time">10 Sep 12:21 AM </span></div> -->
                        </li>
                        <li>
                            <a href="">Return Library Books before the exam ends otherwise fine will be imposed</a>
                            <!-- <div><span class="user-name">Sumit</span><span class="time">10 Sep 12:21 AM </span></div> -->
                        </li>
                    </ul>
                </aside>
            </div>
            <!-- 3rd column ENDS/RIGHT SIDEBAR ENDS -->


      </div><!-- row END -->
  </div>


    <script type="text/javascript" src="/dist/app.js"></script>
    <!--<script type="text/javascript" src="/src/app.js"></script>
    <script type="text/javascript" src="/src/user/account/AccountFactory.js"></script>
    <script type="text/javascript" src="/src/user/account/AccountController.js"></script>
    <script type="text/javascript" src="/src/user/account/login/LoginController.js"></script>
    <script type="text/javascript" src="/src/user/account/signup/SignUpController.js"></script>
    <script type="text/javascript" src="/src/home/HomeFactory.js"></script>
    <script type="text/javascript" src="/src/home/HomeController.js"></script>
    <script type="text/javascript" src="/src/questions/QuestionFactory.js"></script>
    <script type="text/javascript" src="/src/questions/QuestionController.js"></script>
    <script type="text/javascript" src="/src/tag/TagFactory.js"></script>
    <script type="text/javascript" src="/src/tag/TagController.js"></script>
    <script type="text/javascript" src="/src/listed/tagListFactory.js"></script>
    <script type="text/javascript" src="/src/listed/tagListController.js"></script>
    <script type="text/javascript" src="/src/addques/AddQuesFactory.js"></script>
    <script type="text/javascript" src="/src/addques/AddQuesController.js"></script>
    <script type="text/javascript" src="/src/unanswered/UnansweredController.js"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/2.0.0/toaster.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.min.js"></script>

</body>

</html>