<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="icon" href="../../favicon.ico"> -->
      <link href="https://cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/1.1.0/toaster.min.css" rel="stylesheet" />
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/2.0.0/toaster.css">

    <title>RVCE</title>

  </head>

  <body ng-app="miniRvce" >

    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Online discussion</a>
        </div>
        <div ng-controller= "AccountController as account" id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
<!--
              <li ng-if="loggedIn"><a ui-sref="order">My Orders</a> </li>
              <li ng-if="loggedIn"><a ui-sref="cart">My Cart</a> </li>
-->
              <li ng-if="!loggedIn"><a ui-sref="account.login"><font color="white">Login</font></a></li>
            <li ng-if="loggedIn">
              <a ng-click="account.logout()" ui-sref-active="ak-active-tab" ui-sref="account.logout">
                <font color="white">Logout</font>
              </a>
            </li>

          </ul>
        </div>
      </div>
    </nav>

    <div class="container" >
        <div class="row">
        <ui-view></ui-view>
        </div>
    </div>
    <div ng-controller = "TagController as tag">
        <h2>Choose tags:</h2>
        <u class="list-group">

            <li ng-repeat="each in tag.tagsList"  class="list-group-item" value="{{each.id}}" ui-sref = "">{{each.name}} ---  {{each.assoc}}</li>


        </u>
    </div>

    <!--<script type="text/javascript" src="/dist/app.js"></script>-->

    <script type="text/javascript" src="/src/app.js"></script>
    <script type="text/javascript" src="/src/user/account/AccountFactory.js"></script>
    <script type="text/javascript" src="/src/user/account/AccountController.js"></script>
    <script type="text/javascript" src="/src/user/account/login/LoginController.js"></script>
    <script type="text/javascript" src="/src/user/account/signup/SignUpController.js"></script>
    <script type="text/javascript" src="/src/home/HomeFactory.js"></script>
    <script type="text/javascript" src="/src/home/HomeController.js"></script>
    <script type="text/javascript" src="/src/questions/QuestionFactory.js"></script>
    <script type="text/javascript" src="/src/questions/QuestionController.js"></script>
    <script type="text/javascript" src="/src/tag/TagFactory.js"></script>
    <script type="text/javascript" src="/src/tag/TagController.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!-- Optional theme -->
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">-->
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/2.0.0/toaster.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.min.js"></script>
</body>
</html>
